VITE_BINANCE_BASE_URL=https://data-api.binance.vision
VITE_BYBIT_BASE_URL=https://api.bybit.com
VITE_AUTH_API_BASE_URL=
EXPO_PUBLIC_AUTH_API_BASE_URL=
AUTH_API_PORT=8787
AUTH_USER=aluno
AUTH_PASSWORD=tpcriptomoeda
AUTH_JWT_SECRET=troque-este-segredo-no-env
AUTH_JWT_EXPIRES_IN=12h
AUTH_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173,http://localhost:8081,http://localhost:19006
